<style>
  body { padding-top: 100px; }
</style>

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#7270d3;">
  <div class="container-fluid" style="height:75px">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{{rootURL}}assets/images/kub-white.png" height="50px">
      </a>
    </div>
  </div>
</nav>

{{log session.currentUser}}

{{outlet}}

{{#if session.isAuthenticated}}

  <button {{action 'logout'}}>Logout</button>

  <br><br>



{{/if}}
