<div class="jumbotron text-center">
  <h1>Fieldwork Worker</h1>
</div>

{{log session.currentUser}}

{{outlet}}

{{#if session.isAuthenticated}}

  <button {{action 'logout'}}>Logout</button>

{{/if}}
