<!-- Navbar -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img class= "img-brand" src="{{rootURL}}assets/images/team_logo.png" height="100" width="200" class="img-responsive" alt="" />
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" {{ action "logout"}}><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
