{{yield}}



<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Created By</th>
        <th>Created Date</th>
        <th>Edited By</th>
        <th>Edited Date</th>
        <th>Location</th>
        <th>MetaId</th>
        <th>Schedule Date</th>
        <th>Assigned To</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>YHI0685</td>
        <td>1/1/2017</td>
        <td>YHI0685</td>
        <td>1/2/2017</td>
        <td>1234 Example St.</td>
        <td>1234567890</td>
        <td>1/3/2017</td>
        <td>BBS91751</td>
      </tr>
    </tbody>
  </table>
</div>
