<div class="col-sm-2 col-sm-4 col-md-2 col-md-4"></div>
<div class="col-sm-4 col-sm-8 col-md-4 col-md-8 job-search-box">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search jobs...">
        <span class="input-group-btn">
      <button class="btn btn-primary" type="button">
      <span class="fa fa-search"></span>
        </button>
        </span>
    </div>
</div>
