{{input id="userEmail" type = "text" value = userEmail placeholder = "Email"}} <br>
{{input id="userPassword" type="password" value = userPassword placeholder = "Password"}} <br>

<button id="loginButton" {{action 'login'}}>Login</button>
