<!-- Jobs Table-->
<div class="col-sm-8 col-md-8 col-lg-8">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-sm-6 col-md-6 col-lg-6">
                    <h3 class="panel-title">Jobs</h3>
                </div>
                <div class="col col-sm-6 col-md-6 col-lg-6 text-right">
                    <button type="button" class="btn btn-primary btn-sm">On Route</button>
                    <button type="button" class="btn btn-primary btn-sm">Completed</button>
                </div>
            </div>
        </div>

        <div class="panel-body table-responsive">
            <table class="table table-hover table-striped table-responsive">

                <thead>
                    <tr>
                        <th>Location</th>
                        <th>Edited Date</th>
                        <th>Created By</th>
                    </tr>
                </thead>

                <tbody>
                  {{yield}}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col col-sm-4 col-md-4 col-lg-4">Page 1 of 5
                </div>
                <div class="col col-sm-8 col-md-8 col-lg-8">
                    <ul class="pagination hidden-xs pull-right">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                    <ul class="pagination visible-xs pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
