<div class="col-sm-2 col-md-2 col-lg-2"></div>
<!-- Jobs Table-->
<div class="col-sm-8 col-md-8 col-lg-8">
    <div class="panel panel-default panel-table">
        <div class="panel-heading">
            <div class="row">
                <div class="col col-sm-6 col-md-6 col-lg-6">
                    <h3 class="panel-title">Jobs</h3>
                </div>
                <!-- <div class="col col-sm-6 col-md-6 col-lg-6 text-right">
                    <button type="button" class="btn btn-primary btn-sm">En Route</button>
                    <button type="button" class="btn btn-primary btn-sm">Completed</button>
                    </div> -->
            </div>
        </div>

        {{models-table
            data=jobService.filteredJobs
            columns=columns
            useNumericPagination=true
            showColumnsDropdown=false
            filteringIgnoreCase=true
            showGlobalFilter=false
            displayDataChangedAction="selectJob"
            sendDisplayDataChangedAction=true
            customClasses=tableClasses
            useFilteringByColumns=false
          }}
    </div>
</div>
<div class="col-sm-2 col-md-2 col-lg-2"></div>
